body {
  background: navy;
}

.request {
  font-size: 1.2em;
}

#chatLines {
  border: 1px solid #e2dfdf;
  height: 400px;
  width: 100%;
  background: #fcfcfc;
  padding: 5px 10px;
  overflow: auto;
  border-radius: 5px;
}