body {
  padding-top: 50px;
  position: relative;
}

pre {
  tab-size: 8;
}
.container {
  width: 700px;
}
@media screen and (max-width: 768px) {
  .side-collapse-container {
    width: 100%;
    position: relative;
    left: 0;
    transition: left 0.4s;
  }
  .side-collapse-container.out {
    left: 200px;
  }
  .side-collapse {
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    position: fixed;
    overflow: hidden;
    transition: width 0.4s;
  }
  .side-collapse.in {
    width: 0;
  }
}

.logo {
  width: 200px;
  height: 60px;
  float: left;
}

.pannelimg {
  width: 30px;
  height: 30px;
  float: left;
}

.response {
  border: 1px solid #e2dfdf;
  background: #ffffff;
  padding: 2%;
  width: 100%;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  /*float: left;*/
}
.request {
  border: 1px solid #e2dfdf;
  background: #ffffff;
  padding: 2%;
  width: 100%;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  /*float: right;*/
}
.timeShow {
  float: right;
}

#loginbutton {
  height: 40px;
  width: 200px;
  background-color: #00559a;
  border: 1px solid white;
  border-radius: 20px;
}

#logs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  background: #000;
  color: greenyellow;
  font: 14px "Courier New";
  overflow: auto;
}
#chatLines {
  border: 1px solid #e2dfdf;
  height: 270px;
  width: 100%;
  background: #fcfcfc;
  padding: 5px 10px;
  overflow: auto;
  border-radius: 5px;
}
.wrapper {
  padding: 10px 20px;
  overflow: auto;
}
#textline {
  width: 100%;
}
#sendButton {
  width: 100%;
}

#closeChat {
  overflow: right;
}

#footer {
  color: white;
  height: 120px;
  margin-bottom: -120px;
}
.footerFloat {
  width: 100%;
}
#wrapper {
  background-color: #00559a;
  width: 100%;
  overflow: hidden;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
}

.nav > li:hover > a {
  color: white;
  text-shadow: 1px 1px 1px rgb(146, 142, 142);
  background: transparent;
}
.navbar-inverse .navbar-nav > li:hover > a {
  color: rgb(250, 24, 24);
  text-shadow: 1px 1px 1px #000;
  background: transparent;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #d4d3d3;
}

.scrollbar-primary {
  scrollbar-color: #d4d3d3 #f5f5f5;
}
